body{
    background-color:hsl(30, 54%, 90%);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    
    
}
.parent{
    background-color: white;
    max-width: 600px;
    width: 80%;
    padding: 28px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    
}

img{
    width: 100%;
    border-radius: 20px;
}

.font1 .h11 {
    font-size: 40px;
    color: hsl(24, 5%, 18%); 
    
}

.font1 .pp {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: hsl(30, 10%, 34%);
}
.font2{
    font-family: "Young Serif", sans-serif;
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    
}
ul{
    color: hsl(332, 51%, 32%);
    justify-content: space-between;
    justify-content:space-evenly ;
    
}
li{
margin-bottom: 10px;
color: hsl(332, 51%, 32%);


}
.font2 p{
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    font-size: 19px;
}
span{
    font-weight: bold;
}
.ssd{
    font-weight: lighter;
}
.h22{
    color:  hsl(14, 45%, 36%);
}
.jjk{
    font-family: "Young Serif", sans-serif;
}
hr{
    border-width: 1px; /* Set a thinner border, adjust as needed */
    opacity: 0.4;
}
ol{
    font-family: "Young Serif", sans-serif;
}
.mm{
    font-family: "Young Serif", sans-serif;
    color: hsl(30, 10%, 34%);
    font-size: 14px;
}


  .ii{
    color: hsl(30, 10%, 34%);
    margin-left: 20px;
    font-family: "Young Serif", sans-serif;
    font-weight: 200;
    font-size: 13px;
  }
  .aaa{
    color: hsl(14, 45%, 36%);
    font-family: "Young Serif", sans-serif;
    font-size: 13px ;
  }
  .word-gap {
    margin-right: 210px; 
  }
  .word-gap2 {
    margin-right: 230px; 
  }
  .word-gap3 {
    margin-right: 225px; 
  }
  .word-gap4 {
    margin-right: 245px; 
  }
  @media(min-width:375px){
    .word-gap {
        margin-right: 160px; 
      }
      .word-gap2 {
        margin-right: 205px; 
      }
      .word-gap3 {
        margin-right: 190px; 
      }
      .word-gap4 {
        margin-right: 210px; 
      }
  }